@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Master.MasterVersion.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SDD.Master.MasterVersionGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>