{
    "RootNamespace": "SDD",
    "Connections": [
        {
            "Key": "SDD_Connection",
            "ConnectionString": "Data Source=192.168.0.8;Initial Catalog=SiDedy_Default_v1;Persist Security Info=True;User ID=sa;Password=warlock@1992",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.MasterJabatan",
                    "Identifier": "MasterJabatan",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterJabatan"
                },
                {
                    "Tablename": "dbo.MasterSatuan",
                    "Identifier": "MasterSatuan",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterSatuan"
                },
                {
                    "Tablename": "dbo.MasterHubungan",
                    "Identifier": "MasterHubungan",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterHubungan"
                },
                {
                    "Tablename": "dbo.MasterBudidaya",
                    "Identifier": "MasterBudidaya",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterBudidaya"
                },
                {
                    "Tablename": "dbo.MasterPekerjaan",
                    "Identifier": "MasterPekerjaan",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterPekerjaan"
                },
                {
                    "Tablename": "dbo.MasterHasilBudidaya",
                    "Identifier": "MasterHasilBudidaya",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterHasilBudidaya"
                },
                {
                    "Tablename": "dbo.UserPerikananPeternakan",
                    "Identifier": "UserPerikananPeternakan",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:UserPerikananPeternakan"
                },
                {
                    "Tablename": "dbo.DetailUserPeternakanPerikanan",
                    "Identifier": "DetailUserPeternakanPerikanan",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:DetailUserPeternakanPerikanan"
                },
                {
                    "Tablename": "dbo.UserPerdagangan",
                    "Identifier": "UserPerdagangan",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:UserPerdagangan"
                },
                {
                    "Tablename": "dbo.DetailUserPerdagangan",
                    "Identifier": "DetailUserPerdagangan",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:DetailUserPerdagangan"
                },
                {
                    "Tablename": "dbo.UserPertanianPerkebunan",
                    "Identifier": "UserPertanianPerkebunan",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:UserPertanianPerkebunan"
                },
                {
                    "Tablename": "dbo.DetailUserPertanian",
                    "Identifier": "DetailUserPertanian",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:DetailUserPertanian"
                },
                {
                    "Tablename": "dbo.MasterPropinsi",
                    "Identifier": "MasterPropinsi",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterPropinsi"
                },
                {
                    "Tablename": "dbo.MasterKabupaten",
                    "Identifier": "MasterKabupaten",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterKabupaten"
                },
                {
                    "Tablename": "dbo.MasterKecamatan",
                    "Identifier": "MasterKecamatan",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterKecamatan"
                },
                {
                    "Tablename": "dbo.MasterDesa",
                    "Identifier": "MasterDesa",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterDesa"
                },
                {
                    "Tablename": "dbo.MasterFormulir",
                    "Identifier": "MasterFormulir",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterFormulir"
                },
                {
                    "Tablename": "dbo.MasterFlowFormulir",
                    "Identifier": "MasterFlowFormulir",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:MasterFlowFormulir"
                },
                {
                    "Tablename": "dbo.DetailFlowForm",
                    "Identifier": "DetailFlowForm",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:DetailFlowForm"
                },
                {
                    "Tablename": "dbo.UserNelayan",
                    "Identifier": "UserNelayan",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:UserNelayan"
                },
                {
                    "Tablename": "dbo.UserKaryawan",
                    "Identifier": "UserKaryawan",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:UserKaryawan"
                },
                {
                    "Tablename": "dbo.DetailKapalNelayan",
                    "Identifier": "DetailKapalNelayan",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:DetailKapalNelayan"
                },
                {
                    "Tablename": "dbo.AparaturDesa",
                    "Identifier": "AparaturDesa",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:AparaturDesa"
                },
                {
                    "Tablename": "dbo.FormulirKK",
                    "Identifier": "FormulirKk",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:FormulirKk"
                },
                {
                    "Tablename": "dbo.FormulirKTP",
                    "Identifier": "FormulirKtp",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:FormulirKtp"
                },
                {
                    "Tablename": "dbo.DetailFormulirKK",
                    "Identifier": "DetailFormulirKk",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:DetailFormulirKk"
                },
                {
                    "Tablename": "dbo.FormulirAktaKelahiran",
                    "Identifier": "FormulirAktaKelahiran",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:FormulirAktaKelahiran"
                },
                {
                    "Tablename": "dbo.DetailAktaLahir",
                    "Identifier": "DetailAktaLahir",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:DetailAktaLahir"
                },
                {
                    "Tablename": "dbo.ViewMaasterForm",
                    "Identifier": "ViewMaasterForm",
                    "Module": "View",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "View:ViewMaasterForm"
                },
                {
                    "Tablename": "dbo.ViewAllPenghasilan",
                    "Identifier": "ViewUserPenghasilan",
                    "Module": "View",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "View:ViewUserPenghasilan"
                },
                {
                    "Tablename": "dbo.vChartPenghasilanDesa",
                    "Identifier": "VChartPenghasilanDesa",
                    "Module": "View",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "View:VChartPenghasilanDesa"
                },
                {
                    "Tablename": "dbo.ViewProfilUser",
                    "Identifier": "ViewProfilUser",
                    "Module": "View",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "View:ViewProfilUser"
                },
                {
                    "Tablename": "dbo.MasterStatus",
                    "Identifier": "MasterStatus",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterStatus"
                },
                {
                    "Tablename": "dbo.TransaksiStatus",
                    "Identifier": "TransaksiStatus",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:TransaksiStatus"
                },
                {
                    "Tablename": "dbo.viewAllPengajuan",
                    "Identifier": "ViewAllPengajuan",
                    "Module": "View",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "View:ViewAllPengajuan"
                },
                {
                    "Tablename": "dbo.viewUserPengajuan",
                    "Identifier": "ViewUserPengajuan",
                    "Module": "View",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "View:ViewUserPengajuan"
                },
                {
                    "Tablename": "dbo.viewTransaksiFormulir",
                    "Identifier": "ViewTransaksiFormulir",
                    "Module": "View",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "View:ViewTransaksiFormulir"
                },
                {
                    "Tablename": "dbo.MasterVersion",
                    "Identifier": "MasterVersion",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterVersion"
                },
                {
                    "Tablename": "dbo.ParentMessage",
                    "Identifier": "ParentMessage",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:ParentMessage"
                },
                {
                    "Tablename": "dbo.FcmMessage",
                    "Identifier": "FcmMessageUser",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:FcmMessageUser"
                },
                {
                    "Tablename": "dbo.VChartByAllPekerjaan",
                    "Identifier": "VChartByAllPekerjaan",
                    "Module": "View",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "View:VChartByAllPekerjaan"
                },
                {
                    "Tablename": "dbo.Banner",
                    "Identifier": "Banner",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:Banner"
                },
                {
                    "Tablename": "dbo.InfoDesa",
                    "Identifier": "InfoDesa",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:InfoDesa"
                },
                {
                    "Tablename": "dbo.Forum",
                    "Identifier": "ForumNew",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:ForumNew"
                },
                {
                    "Tablename": "dbo.DetailForum",
                    "Identifier": "DetailForum",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:DetailForum"
                },
                {
                    "Tablename": "dbo.MasterForum",
                    "Identifier": "MasterForum",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterForum"
                },
                {
                    "Tablename": "dbo.DetailPengaduan",
                    "Identifier": "DetailPengaduan",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Administration:DetailPengaduan"
                },
                {
                    "Tablename": "dbo.Pengaduan",
                    "Identifier": "Pengaduan",
                    "Module": "Transaction",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Transaction:Pengaduan"
                },
                {
                    "Tablename": "dbo.MasterTujuanPengaduan",
                    "Identifier": "MasterTujuanPengaduan",
                    "Module": "Master",
                    "ConnectionKey": "SDD_Connection",
                    "PermissionKey": "Master:MasterTujuanPengaduan"
                }
            ]
        },
        {
            "Key": "SiDedy_Default_v1Entities",
            "ConnectionString": "metadata=res://*/Model.SDD_Model.csdl|res://*/Model.SDD_Model.ssdl|res://*/Model.SDD_Model.msl;provider=System.Data.SqlClient;provider connection string=\"data source=192.168.0.8;initial catalog=SiDedy_Default_v1;persist security info=True;user id=sa;password=warlock@1992;MultipleActiveResultSets=True;App=EntityFramework\"",
            "ProviderName": "System.Data.EntityClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\SDD\\SDD.Web\\SDD.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}