@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.View.ViewMaasterForm.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SDD.View.ViewMaasterFormGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>