<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>192.168.0.8/sidedi</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.0.8</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/SiDeDi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SDD_Connection" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.0.8;Initial Catalog=SiDedy_Default_v1;Persist Security Info=True;User ID=sa;Password=warlock@1992" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.8;Initial Catalog=SiDedy_Default_v1;Persist Security Info=True;User ID=sa;Password=warlock@1992" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SDD_Connection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.8;Initial Catalog=SiDedy_Default_v1;Persist Security Info=True;User ID=sa;Password=warlock@1992" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SiDedy_Default_v1Entities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SDD.Model.SiDedy_Default_v1Entities, SDD.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SiDedy_Default_v1Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="SDD_Connection-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.8;Initial Catalog=SiDedy_Default_v1;Persist Security Info=True;User ID=sa;Password=warlock@1992</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>