@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Transaction.DetailKapalNelayan.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SDD.Transaction.DetailKapalNelayanGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>